    /*estilos al texto h1*/
    h1{
        text-align: center;
        color: #00F;
    }

    /*estilos a lso parrafos*/
    p{
        font-family: Tahoma, Geneva,sans-serif;
        color: #F05;
        font-size: 18px;
    }
    /*aplicando color al fondo del body*/
    body{
        background-color: #F05;
    }

    /*estilos de clase */
    .miestilo{
        color: fuchsia;
        font-size: 26px;
    }

    /*estilos de id en una tabla*/
    #tabla{
        background-color: aqua;
        border-color: forestgreen;
    }

